/* colors for now, most likely not final */
:root {
    --primary-color: #ef8354;
    --secondary-color: #bfc0c0;
    --white: #ffffff;
    --text-color: #2d3142;
    --text-color-secondary: #4f5d75;
}

body {
    background-color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-color);
}

/* added so bootstrap nav bar stays on top while scroll but does not cover content */
.page-container {
  text-align: center;
  margin-top: 60px;
}

/* custom modal */
.modal-dialog {
  border: 8px solid;
  border-color: var(--secondary-color);
  border-radius: 10px;
  z-index: 999;
}

/* custom button class*/
.pokemon-button {
    text-align: center;
    font-family: inherit;
    padding: 16px 32px;
    margin: 4px 2px;
    text-transform: capitalize;
}